@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .liquidfire {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    opacity: 0.75;
  }

  clockhead {
    font-family: 'Jacquard 12', system-ui;
  }

  .japanese {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.5rem;
  }

  .script {
    font-family: 'Rubik', 'sans-serif';
    font-size: 0.75rem;
    opacity: 0.5;
  }
}
